{% load static %}
<!doctype html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'home/base.css' %}">
  
    
    {% if title %}
            <title>Magazyn materialow medycznych - {{title}}</title>
    {% else %}
            <title>Magazyn materialow medycznych</title>
    {% endif %}


</head>

<body>
  
        <div id = 'navbar' class='sidenav' style="width: 350px; padding-bottom: 100px;">
            <a href="{% url 'profile' %}"> Profil </a>
            
            <a href="{% url 'operations' %}">Operacje</a>
            
            

            <p style="color: grey;">INSERT:</p>
             <a href="/manage/?method=insert&resource=pracownik_stanowisko">dodaj stanowisko</a> 
             <a href="/manage/?method=insert&resource=pracownik">dodaj pracownika</a> 
             <a href="/manage/?method=insert&resource=produkt">dodaj produkt</a> 
             <a href="/manage/?method=insert&resource=lokalizacja_magazynu">dodaj lokalizacje magazynu</a> 
             <a href="/manage/?method=insert&resource=kategoria">dodaj kategorie produktów</a> 
             <a href="/manage/?method=insert&resource=kontrahent">dodaj kontrahenta</a> 
             <a href="/manage/?method=insert&resource=rodzaj_operacji">dodaj rodzaj operacji</a> 


             <p style="color: grey;">SELECT:</p>
             <a href="/manage/?method=select&resource=pracownik">pokaż pracowników</a> 
             <a href="/manage/?method=select&resource=magazyn">pokaż stan magazynów</a> 
             <a href="/manage/?method=select&resource=produkty">pokaż produkty</a> 
             <a href="/manage/?method=select&resource=pokaz_zamowienia">pokaż zamówienia</a> 

             <p style="color: grey;">UPDATE:</p>
             <a href="/manage/?method=update&resource=pracownik_stanowisko">zmień pracownik_stanowisko</a> 
             <a href="/manage/?method=update&resource=pracownik">zmień pracownik</a> 
             <a href="/manage/?method=update&resource=weryfikacja">zmień weryfikacja</a> 
             <a href="/manage/?method=update&resource=lokalizacja_magazynu">zmień lokalizacje magazynu</a> 

             <p style="color: grey;">DELETE:</p>
             <a href="/manage/?method=delete&resource=pracownik">usuń pracownika</a> 
             <a href="/manage/?method=delete&resource=produkt" style="padding-bottom: 50px;">usuń produkt</a> 
             <a href="{% url 'logout' %}"  style="padding-bottom: 100px;"> Wyloguj się</a>
        </div>
   
        <main class='main' style="padding-left: 50px;">
            {% block content %}{% endblock %}
        </div>
    
        {% if messages %}
        {% for message in messages %}
 <div class="alert alert-{{ message.tags }}">
         {{ message }}
 </div>
        {% endfor %}
 {% endif %} 

</body>
