{% extends "storehouse/storehouse_panel.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load template_filters %}
{% csrf_token %}
<h2>Wpisz id zamówienia, a następnie naciśnij przycisk 'dodaj', aby zapisać nowo utworzone zamówienie.</h2>

<div id = "form_container">
    <h1>{{form_title|access:0}} : {{form_title|access:1}}</h1>
    <form id = "form" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Dodaj</button>
    </form>
</div>
{% endblock content %}